doctype html
html 
    head 
        title S-M dance Academy-#{title} 
        block scripts
            script(src="")
        block style

    body
        nav.nav.bg-warning.text-capitalize.d-flex.justify-content-center.py-1.align-items-center 
                a(href="/").nav-brand.text.me-5.border 
                    img(src="/male_dancer.png", alt="the image not founded ").img-fluid.ht.text-light
                    p.d-inline S-M
                a(href="").nav-link.text-white-50.text Home 
                a(href="").nav-link.text-white-50.text About 
                a(href="/contact").nav-link.text-white-50.text contact us 
                a(href="").nav-link.text-white-50.text Services  
                a(href="").nav-link.text-white-50.text Class-info
      
        block content 
            

        footer#footer.bg-warning.text-white 
            Copyright @ 2024 - S-M DanceAcademy.com | All right reserved   